/* ata.css */
body {
    color: white;
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
    background-color: #0055ff;
    overflow: hidden;
    margin: 1px;
}

a {
    color: wheat;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #0055ff;
}

.left {
    text-align: left;
    position: relative;
    top: 20px;
    right: -10px;
}

.left2 {
    text-align: left;
    position: relative;
    top: 20px;
    right: -10px;
}

.right {
    text-align: right;
    position: relative;
    top: -140px;
    left: -260px;
}

.center {
    position: relative;
    text-align: center;
    top: 20px;
}

h1 {
    color: #0055ff;
}

footer img {
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}